In [3]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [7]:
a=3
type(a)

int

In [8]:
x=1
type(x)

int

In [10]:
x=1.0000
type(x)

float

In [11]:
x=-1
type(x)

int

In [19]:
import random
print(random.randrange(1, 4))

1

In [27]:
a='''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [31]:
txt = "The best things in life are free!"
"expensive" not in txt

True

In [36]:
string = "hello, chat today are you ready for learning intresting topic"
string[1:10:2]

'el,ca'

In [42]:
b = " Hello, World!"
print(b[-5:-2])

orl

In [43]:
b.upper()

' HELLO, WORLD!'

In [44]:
b.lower()

' hello, world!'

In [47]:
# The strip() method removes any whitespace from the beginning or the end:
b.strip()

'Hello, World!'

In [48]:
string

'hello, chat today are you ready for learning intresting topic'

In [49]:
string.replace("a","y")

'hello, chyt todyy yre you reydy for leyrning intresting topic'

In [51]:
string.split(" ")

['hello,',
 'chat',
 'today',
 'are',
 'you',
 'ready',
 'for',
 'learning',
 'intresting',
 'topic']

In [53]:
string.split(",")

['hello', ' chat today are you ready for learning intresting topic']

In [55]:
a="poi"
b="uhy"
a+" "+b

'poi uhy'

In [61]:
a=34
b="hello chat the num is {}"

In [62]:
b.format(a)

'hello chat the num is 34'

In [63]:
q=24
a=13
z=45
n="hello {} i take {} and you {}"
n.format(q,a,z)

'hello 24 i take 13 and you 45'

In [67]:
"We are the so-called \"Vikings\" from the north."

'We are the so-called "Vikings" from the north.'

In [84]:
x="we are the so-called \Vikings from the north."

In [85]:
x.count("o")

3

In [86]:
x.capitalize()

'We are the so-called \\vikings from the north.'

In [87]:
x.encode()

b'we are the so-called \\Vikings from the north.'

In [89]:
len(x)

45

In [94]:
print(bool(""))
print(bool(0))

False
False

In [93]:
print(bool("xcd"))
print(bool(45))

True
True

In [106]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [107]:
type(thislist)

list

In [109]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [110]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thistuple.extend(thislist)
print(thislist)

AttributeError: 'tuple' object has no attribute 'extend'

In [113]:
a=["1","3","9"]
for i in a:
    print(i)

1
3
9

In [115]:
a=["1","3","9"]
for i in range(len(a)):
    print(a[i])

1
3
9

In [116]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [126]:
# list comprehension-------create new list with the help of existing list

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [130]:
a=[3,2,4,6,7,9,5,2,1]
a.sort()
a

[1, 2, 2, 3, 4, 5, 6, 7, 9]

In [131]:
a=["papaya","mango","banana","kiwi"]
a.sort()
a

['banana', 'kiwi', 'mango', 'papaya']

In [132]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [133]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [134]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist
print(mylist)

['apple', 'banana', 'cherry']

In [135]:
lst1=["a","b","c"]
lst2=[1,2,3]
lst=lst1+lst2

In [136]:
lst

['a', 'b', 'c', 1, 2, 3]

In [144]:
lst1=["a","b","c"]
lst2=[1,2,3]
for x in lst2:
    lst1.append(x)
lst1

['a', 'b', 'c', 1, 2, 3]

In [139]:
print(lst3)

None

In [145]:
lst1.extend(lst2)

In [146]:
lst1

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [150]:
tup=(23,34,56,12)
tup[:3]

(23, 34, 56)

In [151]:
# duplicacy allowed in tuple
tup1=("Radha","Raghav","Madhav","Bhumi",11,90,78,"Madhav",12,12,11)

In [169]:
# tuple has order
tup1[8:]

(12, 12, 11)

In [168]:
# tuple is not changeble
tup[0]=9

TypeError: 'tuple' object does not support item assignment

In [164]:
list1=["Radha","Raghav","Madhav","Bhumi",11,90,78,"Madhav",12,12,11]

In [165]:
type(list1)

list

In [166]:
list1[0]=9

In [167]:
list1

[9, 'Raghav', 'Madhav', 'Bhumi', 11, 90, 78, 'Madhav', 12, 12, 11]

In [172]:
tup1.count(12)

2

In [174]:
tup1.index("Madhav")

2

In [181]:
print(tup1)
tup2=list(tup1)
tup2[1]="Ayush"
print(tup2)
tup1=tuple(tup2)
print(tup1)
print(type(tup1))

('Radha', 'Ayush', 'Madhav', 'Bhumi', 11, 90, 78, 'Madhav', 12, 12, 11)
['Radha', 'Ayush', 'Madhav', 'Bhumi', 11, 90, 78, 'Madhav', 12, 12, 11]
('Radha', 'Ayush', 'Madhav', 'Bhumi', 11, 90, 78, 'Madhav', 12, 12, 11)
<class 'tuple'>

In [188]:
a=()
print(type(a))
b=(2)
print(type(b))
c=(2,)
print(type(c))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [191]:
set1={2,2,3,4,45,34,3,4}

In [193]:
# duplicacy not allowed
set1

{2, 3, 4, 34, 45}

In [197]:
# unordered----------not indexing
set1[:]

TypeError: 'set' object is not subscriptable

In [200]:
# unchangeble
set1[1]=3

TypeError: 'set' object does not support item assignment

In [201]:
set1.add(90)

In [202]:
set1

{2, 3, 4, 34, 45, 90}

In [203]:
set2={"Ram","Shaym","Jacks","Jarvis"}

In [204]:
set1.update(set2)

In [205]:
set1

{2, 3, 34, 4, 45, 90, 'Jacks', 'Jarvis', 'Ram', 'Shaym'}

In [207]:
set1.clear()

In [208]:
set1

set()

In [212]:
set2.remove("Jarvis")

In [213]:
set2

{'Jacks', 'Ram', 'Shaym'}

In [218]:
set3={"r","l","k","Ram"}

In [219]:
set2.union(set3)

{'Jacks', 'Ram', 'Shaym', 'k', 'l', 'r'}

In [220]:
set2.intersection(set3)

{'Ram'}

In [221]:
set2.intersection_update(set3)

In [222]:
set2

{'Ram'}

In [224]:
set_a={34,56,78,"Y","K","P"}
set_b={56,"P","R","M","N"}
set_a.difference(set_b)

{34, 78, 'K', 'Y'}

In [225]:
set_a.difference_update(set_b)

In [226]:
set_a

{34, 78, 'K', 'Y'}

In [228]:
dict1={
    "Name":"Radha",
    "Car":"Hyuandai Elentara",
    "Year":2023
}

In [236]:
# orderable
dict1["Name"]

'Radha'

In [232]:
dict1["Year"]=2024

In [234]:
# Changeable
dict1

{'Name': 'Radha', 'Car': 'Hyuandai Elentara', 'Year': 2024}

In [239]:
dict1.clear()

In [240]:
dict1

{}

In [241]:
dict2={
    "Name":"Radha",
    "Car":"Hyuandai Elentara",
    "Year":2023
}

In [245]:
dict2.get("Year")

2023

In [246]:
dict2.items()

dict_items([('Name', 'Radha'), ('Car', 'Hyuandai Elentara'), ('Year', 2023)])

In [247]:
dict2.keys()

dict_keys(['Name', 'Car', 'Year'])

In [248]:
dict2.pop("Name")

'Radha'

In [249]:
dict2

{'Car': 'Hyuandai Elentara', 'Year': 2023}

In [250]:
dict2.values()

dict_values(['Hyuandai Elentara', 2023])

In [253]:
dict3={
    "Name":"Radha",
    "Post":"Data Scientist"
}

In [255]:
dict2.update(dict3)

In [256]:
dict2

{'Car': 'Hyuandai Elentara',
 'Year': 2023,
 'Name': 'Radha',
 'Post': 'Data Scientist'}

In [268]:
dict_n={
    "list":[1,2,3,4],
    "tup":(1,2,3,4),
    "set":{1,2,3},
    "dict":{"Name":"Radha","Age":19}
}

In [269]:
dict_n

{'list': [1, 2, 3, 4],
 'tup': (1, 2, 3, 4),
 'set': {1, 2, 3},
 'dict': {'Name': 'Radha', 'Age': 19}}

In [270]:
# loops

In [271]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [272]:
for i in range(10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [277]:
i=0
while i<10:
    print(i)
    if i==4:
        break
    i+=1

0
1
2
3
4

In [289]:
i=0
while i<10:
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [280]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [291]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [292]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [293]:
# function

In [294]:
def fun1():
    print("Hello")

In [295]:
fun1()

Hello

In [303]:
def fun2(a,b,c):
    print(a,b,c)

In [305]:
fun2(1,4,8)

1 4 8

In [310]:
def fun2(a,b,c=3):
    print(a,b,c)

In [313]:
fun2(89,12,90)

89 12 90

In [316]:
def my_function(*kds):
  print("The youngest child is " + kds[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

# lambda

In [317]:
lm=lambda a,b:a+b
lm(89,12)

101

In [319]:
lm=lambda a,b: print(a) if a>b else print(b)
lm(12,78)

78

In [326]:
lm=lambda a,b,c : print(a) if a>b and a>c  else ( print(b) if b>a and b>c else print(c))
lm(91,15,19)

91

# regular expression

In [327]:
import re

In [328]:
x="I am a girl and i like coffee"
re.sub("a","x",x)

'I xm x girl xnd i like coffee'

In [329]:
re.findall("f",x)

['f', 'f']

In [331]:
re.search("i",x)

In [332]:
re.split("a",x)

['I ', 'm ', ' girl ', 'nd i like coffee']

In [334]:
for a in re.finditer("f",x):
    print(a)

<re.Match object; span=(25, 26), match='f'>
<re.Match object; span=(26, 27), match='f'>

# oops

In [335]:
#wap to make a class of student having name & marks and make
# an object to get the output.
class std:
    name="Ram"
    marks=98
ob=std()

In [336]:
ob.name

'Ram'

In [337]:
ob.marks

98

In [342]:
# class with the help of function
class std1:
    def fun1(self,name,age):
        self.name=name
        self.age=age
obj=std1()

In [343]:
obj.fun1("Raj",67)

In [344]:
obj.name

'Raj'

In [345]:
obj.age

67

In [348]:
# class with the help of constuctor
class std2:
    def __init__(self,name,sal):
        self.name=name
        self.sal=sal
obj2=std2("Amit",2)

In [349]:
obj2.name

'Amit'

In [351]:
obj2.sal

2

In [361]:
# wap to make a class of simplified airthmetic opeartion 
# and try to get the  output of that class through the object.
class sao:
    def fun(self,a,b):
        self.add=a + b
        self.sub=a - b
        self.mul=a * b
        self.div=a / b
obk=sao()
obk.fun(23,89)

In [363]:
obk.add

112

In [364]:
obk.div

0.25842696629213485

In [374]:
# Wap to make a class of car and find its actual price,if the 
# car is of more than 10lakh then there is a tax of 14% on 
# the car and if the cost of car is less tha 10lakhs then
# there is some discount of 7.8% on the car . Find the actual
# price of the paid by the user.

class car:
    def __init__(self,price):
        self.price=price
        if self.price>1000000:
            self.price=self.price+(self.price*14)/100
            print("The actual price of car is: ",self.price)
        else:
            self.price=self.price-(self.price*7.8)/100
            print("The actual price of car is: ",self.price)
ok=car(500)

The actual price of car is:  461.0

In [375]:
ok.price

461.0

# inheritance

In [380]:
class one:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class two(one):
    def __init__(self,name,age,sal):
        self.sal=sal
        one.__init__(self,name,age)
ob=two("Raghav",89,5)
ob.age

89

In [383]:
class fun1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class fun2(fun1):
    def __init__(self,name,age,sal):
        self.sal=sal
        super().__init__(name,age)
ob=fun2("Raghav",89,5)
ob.age

89

# multilevel inheritance

In [401]:
class gpc:
    def __init__(self,name):
        self.name=name
class pc(gpc):
    def __init__(self,name,age):
        self.age=age
        gpc.__init__(self,name)
class cc(pc):
    def __init__(self,name,age,sal):
        self.sal=sal
        pc.__init__(self,name,age)

In [404]:
ob=cc("RAM",67,9)

In [408]:
ob.name

'RAM'

In [435]:
# Wap to make a 3 class in which one of the class
# is totally empty and also try to inherit the attributes
# of each class.

class gpc:
    pass
class pc(gpc):
    def __init__(self,age):
        self.age=age
        super().__init__()
class cc(pc):
    def __init__(self,age,sal):
        self.sal=sal
        super().__init__(age)

In [436]:
ok=cc(89,7)

In [437]:
ok.age

89

In [438]:
ok.sal

7

# encapsulation----------user se access hide karana

In [455]:
# private ------------user can access data with in the class
class pc:
    def __init__(self,_age):
        self._age=_age
ob=pc(12)

In [456]:
ob._age

12

In [471]:
# protected ------------user can not access data 
class pc:
    def __init__(self,sal):
        self.__sal=sal
ob=pc(12)

In [472]:
ob.__sal

AttributeError: 'pc' object has no attribute '__sal'

In [479]:
class std:
    def __info(self,name,age):
        return name,age
    
    def detail(self,greet):
        return greet
    
    

s = std()
# s.detail('hello')
s.__info('a',34)

AttributeError: 'std' object has no attribute '__info'

In [496]:
#wap to perform encapsulation where you have to find the 
# marks of 2student if any one of the student is going to 
# fail in any subject then you have hide the data of the 
# subject.
class s1:
    def __init__(self,__a,b):
        self.a= a
        self.b=b
    
    
class s2(s1):
    def __init__(self,a,b):
        super().__init__(a,b)
        
        
s = s2(23,45)
s.a

In [500]:
# public , private , protected
class a:
    
#     public mode
    def x(self,greet):
        return greet
    
#     private mode
    def __y(self,name):
        return name
    
#     protected mode
    def _z(self,age):
        return age
    
c = a()
c.x('hello')

'hello'

In [505]:
# protected
c.y("Ram")

AttributeError: 'a' object has no attribute 'y'

In [504]:
c._z(12)

12

# polymorphism

In [506]:
a = 9
b = 1
c = a+b
print(c)

10

In [507]:
a = '4'
b ='5'
c = a+b
print(c)

45

In [508]:
# default arg

def fun(x,y=9):
    z = x+y
    return z

fun(1)

10

In [509]:
fun(1,2)

3

In [510]:
fun(1,0)

1

In [511]:
fun(-1,-1)

-2